@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200;400;600&display=swap');

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
    --bs-darker: #272b2f;
}

body {
    font-family: 'Sarabun', var(--bs-font-sans-serif);
    transition: .2s;
}

/* fix modal-dialog-scrollable */
.modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
    overflow: auto;
}

#main-nav .nav-link.active {
    background-color: rgba(255, 255, 255, 0.1);
}

#shopping-tab {
    width: 100%;
    z-index: 1030;
    transition: 0.2s;
}

#store-nav .nav-link {
    border-bottom: 3px solid transparent;
}

#store-nav .nav-link.active {
    border-bottom: 3px solid var(--bs-warning);
    color: var(--bs-warning);
}

@media screen and (min-width: 992px) {
    #shopping-tab {
        width: auto;
        right: 0;
        top: 50%;
        transform: translateY(-50%) translateX(85%);
    }

    #shopping-tab:hover {
        transform: translateY(-50%);
    }

    #shopping-tab .nav-item.col:not(:last-child) .nav-link {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
}

@media screen and (min-width: 1260px) {
    #shopping-tab {
        transform: translateY(-50%);
    }

    #shopping-tab .nav-link>svg {
        font-size: 1.5rem;
    }

    #shopping-tab .nav-link>.text {
        font-size: 12px !important;
    }

    #shopping-tab .nav-link>.badge {
        font-size: 10px !important;
    }

}
#shopping-tab .hidden-chevron {
    display: none;
}
@media screen and (min-width: 992px) and (max-width: 1260px) {
    #shopping-tab .hidden-chevron {
        display: flex;
        position: absolute;
        text-align: center;
        left: -25px;
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        width: 30px;
        background-color: white;
        transition: 0.2s;
    }

    #shopping-tab:hover .hidden-chevron {
        left: 0;
    }
}

@media screen and (max-width: 565px) {
    #main-nav {
        position: fixed !important;
        height: 100vh;
        top: 0;
        right: 0;
        background: var(--bs-darker);
        display: flex;
        flex-direction: column;
        width: 256px;
        z-index: 1;
        padding: 30px 15px 50px;
        align-items: start;
        transform: translateX(0);
        box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
        border-left: 1px solid var(--bs-dark);
        max-width: 100vw;
        transition: all .2s ease;
        transition-delay: 0s;
        margin: 0;
    }

    #main-nav:not(.show) {
        display: flex;
        transform: translateX(100%);
        box-shadow: none;
    }

    #main-nav.collapsing {
        position: relative;
        height: 100%;
        overflow: hidden;
        transition: all .2s ease;
        transition-delay: 0s;
    }

    #main-nav a.nav-link {
        font-size: 1rem;
    }
}

h5.section-heading {
    /* padding-left: 10px; */
    position: relative;
    display: flex;
    align-items: center;
}

/* Form Label Over Input */
.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    cursor: text;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 10px;
    color: #777;
}

/* END Form Label Over Input */

.bg-darker {
    /* background-color: #313131 !important; */
    background-color: var(--bs-darker) !important;
}

.border-darker {
    border-color: var(--bs-darker) !important;
}

.card-banner .card-body,
.heading-line .title-section {
    z-index: 0;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.hover-shadow {
    transition: 0.35s;
    box-shadow: none;
}

.hover-shadow:hover {
    transition: 0.35s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.hover-popup {
    transition: 0.35s;
    transform: scale(1);
}

.hover-popup:hover {
    transition: 0.35s;
    transform: scale(1.025);
    z-index: 2;
}

.heading-line .title-section {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    background-color: inherit;
    z-index: 2;
}

.heading-line {
    position: relative;
}

.section-heading {
    margin-bottom: 20px;
    margin-top: 10px;
}

.title-section {
    padding-right: 10px;
}

.heading-line::before {
    top: 43%;
    border-top-style: solid;
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    width: 100%;
    height: 0;
    border: 3px solid rgba(0, 0, 0, 0.1)
        /* #E9EAEF */
    ;
    overflow: hidden;
}

.title-section>span.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: var(--bs-gradient);
    color: var(--bs-light);
}

.list-group-item.active {
    background-color: white !important;
    color: black;
    border-color: white !important;
}

/* Modal Sidebar */
.modal.fade .modal-dialog.modal-dialog-sidebar {
    /* transition: transform .3s ease-out; */
    transform: translate(50px, 0);
}
.modal.show .modal-dialog.modal-dialog-sidebar {
    transform: none;
}

.modal-dialog.modal-dialog-sidebar {
    max-width: 350px;
    margin: 0 -0 0 auto;
    height: 100%;
}

.modal-dialog.modal-dialog-sidebar .modal-content {
    height: 100%;
    border-radius: 0;
}

@media screen and (max-width: 575px) {
    .modal-dialog.modal-dialog-sidebar {
        max-width: 256px;
    }
}
/* END Modal Sidebar */

/* Shop store */
#store-announce-container {
    max-height: 400px;
}
#store-announce-container ~ a::before {
    content: 'อ่านเพิ่ม';
}
#store-announce-container.show-all {
    max-height: 100%;
}
#store-announce-container.show-all ~ a::before {
    content: 'น้อยลง';
}
#store-announce-container:not([class*='show-all']) > #store-announce::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 340px, #1d2023);
}